.PokeCard-Border {
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    border: solid black;
    margin: 0.2em;
    min-width: 180px; 
    height: 9.2em;
  }

.PokeCard-Name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;
  font-size: 1.2em;
  color: white;
  -webkit-text-stroke: 1px black;
  background-color: rgba(0, 0, 0, 0.4);
  animation: slide-down 2s ease-in-out;
}

@keyframes slide-down{
  0% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

.pokeball_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball {
  animation: frames .8s  linear infinite;
}

.shake {
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-2deg); }
  20% { transform: rotate(2deg); }
  30% { transform: rotate(-2deg); }
  40% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  60% { transform: rotate(2deg); }
  70% { transform: rotate(-2deg); }
  80% { transform: rotate(2deg); }
  90% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.img-center {
  width: 100%;
  /*Definitely how you should set height*/
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.pokemon-id {
  position: absolute;
  font-size: 0.5em;
  bottom: 1.5em;
  right: 0.5em;
  font-size: 1.2em;
  color: white;
  -webkit-text-stroke: 1px black;
}

.pokemon-types {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  height: 2em;
  width: 6em;
  border-radius: 1em;
  color: white;
  -webkit-text-stroke: 1px black;
  border: thin solid white;
  box-shadow: 0px 0px 0px 1px #000000;
  
}

.poke-description {
  border-radius: 1em;
  border: solid;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10% 20% 20% 20% 10% 10% 10%;
}

.item-1 {
  grid-area: 1 / 1 / 1 / 4;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
}

.item-2 {
  grid-area: 2 / 1 / 6 / 4;
  display: flex;
  align-items: center;
}

.item-2 img {
  max-width: 100%;  
  height: auto;  
}

.item-3 {
  grid-area: 6 / 1 / 6 / 4;
  display: flex;
  align-items: center;
}

.item-4 {
  grid-area: 7 / 1 / 7 / 4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.item-5 {
  grid-area: 1 / 4 / 4 / 7;
}

.item-6 {
  grid-area: 7 / 4 / 7 / 7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0px 0px 2px #ffffff;
}

.item-7 {
  grid-area: 4 / 4 / 7 / 7;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 861px) {
  .poke-description {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
  }
  
  .item-1 {
    grid-area: 1 / 1 / 1 / 5;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
  }
  
  .item-2 {
    grid-area: 2 / 2 / 4 / 4;
  }
  
  
  .item-3 {
    grid-area: 4 / 1 / 5 / 5;
  }
  
  .item-4 {
    grid-area: 5 / 1 / 6 / 5;
  }
  
  .item-5 {
    grid-area: 6 / 1 / 9 / 5;
  }
  
  .item-6 {
    grid-area: 9 / 1 / 9 / 5;
  }
  
  .item-7 {
    grid-area: 10 / 1 / 10 / 5;
    
  }
}


@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.form-btn{
  width: 50%;
  min-width: 150px;
  height: 80%;
  border-radius: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: capitalize;
  border-style: solid;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.normal {
  background: rgb(43,36,36);
  background: linear-gradient(158deg, rgba(43,36,36,1) 0%, rgba(144,144,144,1) 60%, rgba(255,255,255,1) 100%);
}

.shiny {
  background: linear-gradient(89deg, #ffd800, #ffffff, #ffe300, #ffffff);
  background-size: 800% 800%;
  box-shadow: 0 0 30px 5px rgb(226, 255, 99);
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 48%}
  50%{background-position:100% 53%}
  100%{background-position:0% 48%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 48%}
  50%{background-position:100% 53%}
  100%{background-position:0% 48%}
}
@keyframes AnimationName {
  0%{background-position:0% 48%}
  50%{background-position:100% 53%}
  100%{background-position:0% 48%}
}

.stats {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.3em;
}

.stat-value {
  display: flex;
  justify-content: baseline;
  font-size: small;
  text-shadow: 0px 0px 2px #ffffff;
  text-transform: capitalize;
}

.bar {
  border-radius: 1em;
  width: 255px;
  height: 0.5em;
  border-style: solid;
}

.moves {
  border-radius: 10px;
  border-color: #00000077;
  height: 95%;
  width: 95%;
  background-color: #ffffff33;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  text-shadow: 0px 0px 2px #ffffff;
  text-transform: capitalize;
}

.moves > * {
  flex: 1 1 49%;
  border-bottom: solid;
  border-color: #00000042;
}

.moves :nth-child(even) {
  border-left: solid;
  border-color: #00000042;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 3px 10px 5px #000d8088;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(3, 3, 3, 0.39);
  border-radius: 10px;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); }
  100% { transform: scale(1); }
}

.pop {
  animation: pop 1s;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.left, .right {
  position: absolute;
  width: 50%;
  height: 100%;
  animation: animateThis 0.8s ease-in;
  animation-name: move;
  z-index: -1;
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}


.rotation-bg {
  z-index: -1;
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  animation: animateThis 2s ease-in-out;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);  }
  100% {
    transform: rotate(360deg);
  }
}

.img-center, .pokemon-id, .pokemon-types {
  animation: more-pop 0.6s ease-in-out;
}

@keyframes more-pop {
  0% { transform: scale(0); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}