body {
  margin: 0;
  font-family: "Dela Gothic One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(345deg, #A8A77A, #EE8130, #6390F0, #F7D02C, #7AC74C, #96D9D6, #C22E28, #A33EA1, #E2BF65, #A98FF3, #F95587, #A6B91A, #B6A136, #735797, #6F35FC, #705746, #B7B7CE, #D685AD);
  background-size: 1000% 1000%;

  animation: AnimationName 60s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");